insmod all_video
insmod gfxterm
insmod xzio
loadfont unicode
set gfxmode=1920x1080x32,auto
set gfxpayload=keep
terminal_output gfxterm

menuentry "lunix" {
    multiboot2 /kernel
    module2 /initrd.tar.xz
}
